@each $status, $array in $colors-map {
    @if $status {
        @each $color, $value in $array {

            @include bg-variant(".bg-#{$color}", $value);

            @if $enable-contrast-colors {
                .bg-#{$color}{
                    &.contrast,
                    &.contrast a {
                        color: contrast($value);
                    }
                }
            }

            @if $enable-shades {
                @each $weight, $percentage in $palette {
                    $light_color : scale-color($value, $lightness: $percentage);
                    $dark_color : scale-color($value, $lightness: -$percentage);

                    @if $weight < 500 {
                        @include bg-variant(".bg-#{$color}#{$weight}",scale-color($value, $lightness: $percentage));
                    } @else if $weight > 500 {
                        @include bg-variant(".bg-#{$color}#{$weight}",scale-color($value, $lightness: -$percentage));
                    } @else {
                        @include bg-variant(".bg-#{$color}#{$weight}", $value);
                    }

                    @if $enable-contrast-colors {
                        .bg-#{$color}#{$weight}{
                            &.contrast,
                            &.contrast a {
                                @if $weight < 500 {
                                    color: contrast($light_color);
                                } @else if $weight > 500 {
                                    color: contrast($dark_color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
