$enable-base-colors     :     true;
$enable-extra-colors    :     true;
$enable-grays           :     false;
$enable-shades          :     true;
$enable-contrast-colors :     true;
$max-border-width       :     6;
$box_sides : (
  'top', 'right', 'bottom', 'left'
);
