
@import "settings";
@import "../bootstrap/scss/functions";
 @import "functions"; 

@import "../bootstrap/scss/variables";
@import "variables";

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/reboot";


.masthead {
    font-size: 2rem;
    font-weight: 600;
}


.nav-link {
    padding: 0.2rem 1rem;
}

.page-title {
  margin-top: .5rem;
  margin-bottom: .3rem;
  font-weight: 400;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

.docs-sidebar {

  order: 0;
  // background-color: #f5f2f9;
  border-bottom: 1px solid rgba(0,0,0,.1);


  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      z-index: 1000;
      top: 1.9rem;
      max-height: calc(100vh - 2rem);
    }
    border-right: 1px solid rgba(0,0,0,.1);
  }

  @include media-breakpoint-up(xl) {
    max-width: 320px;
  }



}

.docs-category {
//     a {
//         display: block;
//         padding: .25rem 1.5rem;
//         font-weight: 500;
//         color: rgba(0,0,0,.65);
//         background-color: transparent;
//
//         &:hover {
//             color: rgba(0,0,0,.85);
//             text-decoration: none;
//         }
//     };
//
//     .docs-submenu {
//       display: none;
//
//       a {
//           display: block;
//           padding: .25rem 1.5rem;
//           font-size: 90%;
//           color: rgba(0,0,0,.65);
//
//           &:hover {
//             color: rgba(0,0,0,.85);
//             text-decoration: none;
//             background-color: transparent;
//           }
//       }
//
//       li.active {
//           //margin-bottom: .25rem;
//           //margin-top: .25rem;
//           background-color: #edf0f5;
//
//           > a {
//             color: rgba(0,0,0,.85);
//           }
//
//           .docs-submenu {
//             display: block;
//
//           }
//       }
//
//     }
//
//     &.active {
//         margin-bottom: .25rem;
//         background-color: #cccccc;
//         border-top: #bdbdbd solid 2px;
//
//         > a {
//           color: rgba(0,0,0,.85);
//         }
//
//         .docs-submenu {
//           display: block;
//           background-color: #fafbfd;
//           border-bottom: #bdbdbd solid 2px;
//
//         }
//     }
//
// }
//
// .docs-link {
//   &.active {
//     margin-bottom: 1rem;
//
//     &:not(:first-child) {
//       margin-top: 1rem;
//     }
//
//     > .bd-toc-link {
//       color: rgba(0,0,0,.85);
//
//       &:hover {
//         background-color: transparent;
//       }
//     }
//
//     > .bd-sidenav {
//       display: block;
//     }
//   }
}

.docs-menu-header {
  padding: .25rem 1.5rem;
  background-color: #484d52;
  font-weight: 500;
  font-size: 1.5rem;
  color: #cfd2d5;
}

.docs-menu {
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}




.hll { background-color: #ffc; }
.c { color: #999; }
.k { color: #069; }
.o { color: #555; }
.cm { color: #999; }
.cp { color: #099; }
.c1 { color: #999; }
.cs { color: #999; }
.gd { background-color: #fcc; border: 1px solid #c00; }
.ge { font-style: italic; }
.gr { color: #f00; }
.gh { color: #030; }
.gi { background-color: #cfc; border: 1px solid #0c0; }
.go { color: #aaa; }
.gp { color: #009; }
.gu { color: #030; }
.gt { color: #9c6; }
.kc { color: #069; }
.kd { color: #069; }
.kn { color: #069; }
.kp { color: #069; }
.kr { color: #069; }
.kt { color: #078; }
.m { color: #f60; }
.s { color: #d44950; }
.na { color: #4f9fcf; }
.nb { color: #366; }
.nc { color: #0a8; }
.no { color: #360; }
.nd { color: #99f; }
.ni { color: #999; }
.ne { color: #c00; }
.nf { color: #c0f; }
.nl { color: #99f; }
.nn { color: #0cf; }
.nt { color: #2f6f9f; }
.nv { color: #033; }
.ow { color: #000; }
.w { color: #bbb; }
.mf { color: #f60; }
.mh { color: #f60; }
.mi { color: #f60; }
.mo { color: #f60; }
.sb { color: #c30; }
.sc { color: #c30; }
.sd { font-style: italic; color: #c30; }
.s2 { color: #c30; }
.se { color: #c30; }
.sh { color: #c30; }
.si { color: #a00; }
.sx { color: #c30; }
.sr { color: #3aa; }
.s1 { color: #c30; }
.ss { color: #fc3; }
.bp { color: #366; }
.vc { color: #033; }
.vg { color: #033; }
.vi { color: #033; }
.il { color: #f60; }

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

footer {
    margin-left: -15px;
    margin-right: -15px;

    > div {
        min-height: 4rem;
    }
}
