/* line 19, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 25, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 35, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 46, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* line 62, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
[tabindex="-1"]:focus {
  outline: 0 !important;
}

/* line 72, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 88, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 97, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 110, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

/* line 119, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 125, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 132, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 139, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
dt {
  font-weight: 700;
}

/* line 143, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 148, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 152, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
b,
strong {
  font-weight: bolder;
}

/* line 157, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
small {
  font-size: 80%;
}

/* line 166, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 174, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
sub {
  bottom: -.25em;
}

/* line 175, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
sup {
  top: -.5em;
}

/* line 182, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

/* line 13, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/mixins/_hover.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* line 199, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 17, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/mixins/_hover.scss */
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

/* line 208, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 218, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

/* line 226, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

/* line 240, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
figure {
  margin: 0 0 1rem;
}

/* line 250, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 255, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
svg {
  overflow: hidden;
  vertical-align: middle;
}

/* line 267, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
table {
  border-collapse: collapse;
}

/* line 271, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

/* line 279, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
th {
  text-align: inherit;
}

/* line 290, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* line 299, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button {
  border-radius: 0;
}

/* line 308, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 313, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 324, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button,
input {
  overflow: visible;
}

/* line 329, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button,
select {
  text-transform: none;
}

/* line 337, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
select {
  word-wrap: normal;
}

/* line 345, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 358, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

/* line 365, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 373, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 380, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 392, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 398, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 413, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 425, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
progress {
  vertical-align: baseline;
}

/* line 430, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 435, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 448, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 457, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 466, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
output {
  display: inline-block;
}

/* line 470, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
summary {
  display: list-item;
  cursor: pointer;
}

/* line 475, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
template {
  display: none;
}

/* line 481, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/bootstrap-4.3.1/scss/_reboot.scss */
[hidden] {
  display: none !important;
}

/* line 13, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.masthead {
  font-size: 2rem;
  font-weight: 600;
}

/* line 19, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nav-link {
  padding: 0.2rem 1rem;
}

/* line 23, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.page-title {
  margin-top: .5rem;
  margin-bottom: .3rem;
  font-weight: 400;
}

@media (min-width: 576px) {
  /* line 23, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
  .page-title {
    font-size: 3rem;
  }
}

/* line 33, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.docs-sidebar {
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  /* line 33, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
  .docs-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  @supports (position: sticky) {
    /* line 33, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
    .docs-sidebar {
      position: sticky;
      z-index: 1000;
      top: 1.9rem;
      max-height: calc(100vh - 2rem);
    }
  }
}

@media (min-width: 1200px) {
  /* line 33, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
  .docs-sidebar {
    max-width: 320px;
  }
}

/* line 146, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.docs-menu-header {
  padding: .25rem 1.5rem;
  background-color: #484d52;
  font-weight: 500;
  font-size: 1.5rem;
  color: #cfd2d5;
}

/* line 154, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.docs-menu {
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports (position: sticky) {
    /* line 154, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
    .docs-menu {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  /* line 154, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
  .docs-menu {
    display: block !important;
  }
}

/* line 175, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.hll {
  background-color: #ffc;
}

/* line 176, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.c {
  color: #999;
}

/* line 177, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.k {
  color: #069;
}

/* line 178, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.o {
  color: #555;
}

/* line 179, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.cm {
  color: #999;
}

/* line 180, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.cp {
  color: #099;
}

/* line 181, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.c1 {
  color: #999;
}

/* line 182, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.cs {
  color: #999;
}

/* line 183, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

/* line 184, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.ge {
  font-style: italic;
}

/* line 185, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gr {
  color: #f00;
}

/* line 186, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gh {
  color: #030;
}

/* line 187, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

/* line 188, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.go {
  color: #aaa;
}

/* line 189, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gp {
  color: #009;
}

/* line 190, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gu {
  color: #030;
}

/* line 191, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.gt {
  color: #9c6;
}

/* line 192, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kc {
  color: #069;
}

/* line 193, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kd {
  color: #069;
}

/* line 194, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kn {
  color: #069;
}

/* line 195, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kp {
  color: #069;
}

/* line 196, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kr {
  color: #069;
}

/* line 197, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.kt {
  color: #078;
}

/* line 198, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.m {
  color: #f60;
}

/* line 199, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.s {
  color: #d44950;
}

/* line 200, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.na {
  color: #4f9fcf;
}

/* line 201, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nb {
  color: #366;
}

/* line 202, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nc {
  color: #0a8;
}

/* line 203, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.no {
  color: #360;
}

/* line 204, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nd {
  color: #99f;
}

/* line 205, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.ni {
  color: #999;
}

/* line 206, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.ne {
  color: #c00;
}

/* line 207, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nf {
  color: #c0f;
}

/* line 208, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nl {
  color: #99f;
}

/* line 209, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nn {
  color: #0cf;
}

/* line 210, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nt {
  color: #2f6f9f;
}

/* line 211, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.nv {
  color: #033;
}

/* line 212, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.ow {
  color: #000;
}

/* line 213, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.w {
  color: #bbb;
}

/* line 214, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.mf {
  color: #f60;
}

/* line 215, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.mh {
  color: #f60;
}

/* line 216, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.mi {
  color: #f60;
}

/* line 217, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.mo {
  color: #f60;
}

/* line 218, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sb {
  color: #c30;
}

/* line 219, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sc {
  color: #c30;
}

/* line 220, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sd {
  font-style: italic;
  color: #c30;
}

/* line 221, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.s2 {
  color: #c30;
}

/* line 222, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.se {
  color: #c30;
}

/* line 223, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sh {
  color: #c30;
}

/* line 224, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.si {
  color: #a00;
}

/* line 225, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sx {
  color: #c30;
}

/* line 226, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.sr {
  color: #3aa;
}

/* line 227, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.s1 {
  color: #c30;
}

/* line 228, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.ss {
  color: #fc3;
}

/* line 229, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.bp {
  color: #366;
}

/* line 230, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.vc {
  color: #033;
}

/* line 231, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.vg {
  color: #033;
}

/* line 232, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.vi {
  color: #033;
}

/* line 233, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.il {
  color: #f60;
}

/* line 235, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}

/* line 239, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
footer {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 243, W:/xampp5.6/htdocs/PersonalProjects/BootPlus/scss/bootplus_docs.scss */
footer > div {
  min-height: 4rem;
}

/*# sourceMappingURL=../css/bootplus_docs.map */